DirectoryIndex disabled

RewriteEngine On

# Leite alle Anfragen an deinen React-Server weiter
RewriteRule (.*) http://172.16.124.241:4173/$1 [P,L]

# Setze Header
Header set Access-Control-Allow-Origin "*"