DirectoryIndex disabled

RewriteEngine On

# Handle requests for existing files or directories
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redirect all other requests to the index.html
RewriteRule (.*) http://172.16.124.241:4173/index.html [P,L]

# Setze Header
Header set Access-Control-Allow-Origin "*"